body {
  background-image: url("Appliances-background.jpg");
  font-style: helvetica;
}
.title {
  background: white;
  font-size: 40px;
  text-align: center;
  margin: 5%;
  border-radius: 25px;
}
h1 {
  border-radius: 25px;
  padding: 5%;
  font-size: 40px;
  font-family: Helvetica
}
.product_listing {
  background-color: white;
  border-radius: 25px;
}
.form {
  border-radius: 20px;
  padding: 5%;
}
.flashes {
  color: red;
  font-size: 24px;
}
span {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
