<div class="title">
  <h1><span>Mario's Specialty Appliances</span></h1>
</div>

<div class="product_listing">
<h1><span>Products</span></h1>
<p><span><%= link_to "Create new product", new_product_path %></span></p>
<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p><span>There are no products yet.</span></p>
<% end %>
</div>
